/*
	StyleSheet For Responsive Bootstrap Carousel
	Author: SZThemes
	Item Name: Responsive Bootstrap Carousel
	Author URI: http://codecanyon.net/user/sz_themes
	Description: Different Types of Bootstrap Carousel

								Content List
  -----------------------------------------------------------------------------------
	NAME ----------------------------------------LINE NUMBER--------------------- #
	VIDEO CAROUSEL ------------------------------30------------------------------ 01
	RESPONSIVE ----------------------------------246----------------------------- 02	
	COLORS --------------------------------------385----------------------------- 03	
  -----------------------------------------------------------------------------------
							Fonts Styles
  -----------------------------------------------------------------------------------
	  'Geometria', sans-serif ---------------------------------- 01
	              FontAwesome ---------------------------------- 02	
  -----------------------------------------------------------------------------------
							Color Codes
  -----------------------------------------------------------------------------------
	NAME    ------------------------RGB-------------------------- #
	#ffffff -------------------rgb(255, 255, 255)---------------- 01
	#000000 -------------------rgb(0, 0, 0)---------------------- 02
	#1abc9c -------------------rgb(26, 188, 156)----------------- 03 Replace Only This Color To Change Whole Color Scheme
	#282828 -------------------rgb(40, 40, 40)------------------- 04
*/

/*------------------------------------------------------*/
/* VIDEO CAROUSEL
/*------------------------------------------------------*/

.video_carousel_wrapper {
	min-height: 400px;
	position: relative;
	margin-top:7rem;
	width: 100% !important;
	height: auto;
	background-color:#cccccc;
	overflow:hidden;
}
.carousel-inner {
	height:400px;
	min-height: 400px;
	width: 100% !important;
	background-color:#82bc00;
	overflow:hidden;
} 
.item > img,
.item > a > img {
  opacity: 1;
  margin: auto;
  width: 1667px;
  height: 400px;
}	
/*---------- LEFT/RIGHT CONTROL ----------*/
.video_carousel_control_left,
.video_carousel_control_right {
  top: 11rem;
  z-index: 2;
  opacity: 0;
  width: 55px;
  height: 55px;
  border: none;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.video_carousel_wrapper:hover .video_carousel_control_left,
.video_carousel_wrapper:hover .video_carousel_control_right {
  opacity: 0.5;
}
.video_carousel_control_icons {
  line-height: 20px;
  font-size: 34px !important;
  font-weight: normal !important;
}
span.fa {
	color:#ffffff;
}
.video_carousel_control_left {
  left: 0%;
  border-left: none !important;
  -webkit-border-radius: 0px 100% 100% 0px;
  border-radius: 0px 100% 100% 0px;
}
.video_carousel_control_right {
  right: 0%;
  border-right: none !important;
  -webkit-border-radius: 100% 0px 0px 100%;
  border-radius: 100% 0px 0px 100%;
}
/*---------- FADE EFFECT ----------*/
.video_carousel_fade {
  opacity: 1;
}
.video_carousel_fade .item {
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transition: opacity ease-in-out 0.7s;
  -moz-transition: opacity ease-in-out 0.7s;	
  -ms-transition: opacity ease-in-out 0.7s;	
  -o-transition: opacity ease-in-out 0.7s;  
  transition: opacity ease-in-out 0.7s;
}
.video_carousel_fade .item:first-child {
  top: auto;
  position: relative;
}
.video_carousel_fade .item.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity ease-in-out 0.7s;
  -moz-transition: opacity ease-in-out 0.7s;	
  -ms-transition: opacity ease-in-out 0.7s;	
  -o-transition: opacity ease-in-out 0.7s;  
  transition: opacity ease-in-out 0.7s;
}
/*---------- CAPTION ----------*/
/*---------- VIDEO ----------*/
.video_carousel_caption {
  top: 0%;
  left: 0%;
  right: 0%;
  width:100%;
  padding: 0%;
}
.video_carousel_video {
  width: 100%;
  opacity: 1;
}
/*---------- TEXT ----------*/
.video_carousel_caption_text {
  top: 2rem;
  left: 10%;
  z-index: 2;
  padding: 1rem;
  width: 45%;
  text-align: left;
  text-shadow: none;
  position: absolute;
}
.width-100 {width:100%;}
.width-90 {width:90%;}
.width-80 {width:80%;}
.width-75 {width:75%;}
.width-50 {width:70%;}
.width-50 {width:65%;}
.width-50 {width:60%;}
.width-50 {width:55%;}
.width-50 {width:50%;}
.width-45 {width:45%;}
.width-40 {width:40%;}
.width-35 {width:35%;}
.width-30 {width:30%;}
.width-25 {width:25%;}
.width-20 {width:20%;}
.video_carousel_caption_text h1 {
  font-size: 180%;
  padding: .5em 0em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: 'Geometria', sans-serif;
  line-height: 140%;
}
.video_carousel_caption_text h2 {
  font-size: 140%;
  padding: .5em 0em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: 'Geometria', sans-serif;
  line-height: 135%;
}
.video_carousel_caption_text p {
  font-size: 100%;
  padding:1em 0em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: 'Roboto Slab', serif;
  line-height: 135%;
}
.video_carousel_caption_text li {
  font-size: 100%;
  padding: 3px 10px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: 'Roboto Slab', 'Georgia', serif;
  color: #ffffff;
}
.video_carousel_caption_text img {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.list-item {
  font-size: 100%;
  padding: 3px 10px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: 'Roboto Slab', 'Georgia', serif;
  color: #ffffff;
}
.video_carousel_colored_button,
.video_carousel_colored_button:visited {
  outline: 0;
  margin: 0%;
  width: auto;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 100%;
  font-weight: 700;
  text-align: left;
  text-shadow: none;
  line-height: 44px;
  padding: 5px 35px;
  position: relative;
  font-style: normal;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: 'Geometria', sans-serif;
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  -webkit-box-sizing:initial !important;
  -moz-box-sizing:initial !important;
  box-sizing:initial !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.video_carousel_colored_button:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
}
.video_carousel_colored_button:hover,
.video_carousel_colored_button:active,
.video_carousel_colored_button:focus {
  box-shadow: none;	
  outline: none !important;
}
.video_carousel_colored_button:hover:before,
.video_carousel_colored_button:focus:before,
.video_carousel_colored_button:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/
/*---------- MEDIA 360px ----------*/
@media only screen and (max-width: 360px) {
.video_carousel_wrapper {
	margin-top:4rem;
}
.item > img,
.item > a > img {
	position:relative;
	top:0rem;
	right: 50rem;
	min-width:1667px;
	min-height: 400px;
}
img.banner-10 {
	position:relative;
	top:0rem;
	right: 10rem;
}
img.banner-20 {
	position:relative;
	top:0rem;
	right: 20rem;
}
img.banner-30 {
	position:relative;
	top:0rem;
	right: 30rem;
}
img.banner-40 {
	position:relative;
	top:0rem;
	right: 40rem;
}
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .video_carousel_control_left,
  .video_carousel_control_right {
	display: none;
  }
  .video_carousel_control_icons {
	display: none;
  }
  /*---------- CAPTION ----------*/
  /*---------- TEXT ----------*/
 .video_carousel_caption_text {
    left: 0%;
    right: 0%;
	width: 100%;
    top: 0rem;
    text-align: center;
  }
  .video_carousel_colored_button,
  .video_carousel_colored_button:visited {
    margin: 0 0;
    height: 3rem;
    padding: 0 10px;
    line-height: 3rem;
  }
}
/*---------- MEDIA 361px to 640px----------*/
@media (min-width: 361px) and (max-width: 640px) {
.video_carousel_wrapper {
	margin-top:4rem;
}
.item > img,
.item > a > img {
	position:relative;
	top:0rem;
	right: 30rem;
	min-width:1667px;
	min-height: 400px;
}
img.banner-10 {
	position:relative;
	top:0rem;
	right: 10rem;
}
img.banner-20 {
	position:relative;
	top:0rem;
	right: 20rem;
}
img.banner-30 {
	position:relative;
	top:0rem;
	right: 30rem;
}
img.banner-40 {
	position:relative;
	top:0rem;
	right: 40rem;
}
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .video_carousel_control_left,
  .video_carousel_control_right {
	display: none;
  }
  .video_carousel_control_icons {
	display: none;
  }
  /*---------- CAPTION ----------*/
  /*---------- TEXT ----------*/
  .video_carousel_caption_text {
    left: 0%;
    right: 0%;
	width: 100%;
    top: 0rem;
    text-align: center;
  }
  .video_carousel_colored_button,
  .video_carousel_colored_button:visited {
    margin: 0 0;
    height: 3rem;
    padding: 0 13px;
    line-height: 3rem;
  }
}
/*---------- MEDIA 641px to 940px----------*/
@media (min-width: 641px) and (max-width: 940px) {
.video_carousel_wrapper {
	margin-top:4rem;
}
.item > img,
.item > a > img {
	position:relative;
	top:0rem;
	right: 30rem;
	min-width:1667px;
	min-height: 400px;
}
img.banner-10 {
	position:relative;
	top:0rem;
	right: 10rem;
}
img.banner-20 {
	position:relative;
	top:0rem;
	right: 20rem;
}
img.banner-30 {
	position:relative;
	top:0rem;
	right: 30rem;
}
img.banner-40 {
	position:relative;
	top:0rem;
	right: 40rem;
}
  /*---------- CAPTION ----------*/
  /*---------- TEXT ----------*/
  .video_carousel_caption_text {
    left: 4%;
    right: 0%;
	width: 60%;
    top:2rem;
    text-align: center;
  }
  .video_carousel_colored_button,
  .video_carousel_colored_button:visited {
    margin: 0 0;
    height: 3rem;
    padding: 0 13px;
    line-height: 3rem;
  }
}
/*---------- MEDIA 941px to 1280px----------*/
@media (min-width: 941px) and (max-width: 1280px) {
	.item > img,
.item > a > img {
	position:relative;
	top:0rem;
	right: 20rem;
	min-width:1667px;
	min-height: 400px;
}
img.banner-10 {
	position:relative;
	top:0rem;
	right: 10rem;
}
img.banner-20 {
	position:relative;
	top:0rem;
	right: 20rem;
}
img.banner-30 {
	position:relative;
	top:0rem;
	right: 30rem;
}
img.banner-40 {
	position:relative;
	top:0rem;
	right: 40rem;
}
  /*---------- CAPTION ----------*/
  /*---------- TEXT ----------*/
  .video_carousel_caption_text {
    left: 4%;
    right: 0%;
	width: 60%;
    top:7rem;
    text-align: center;
  }
  .video_carousel_colored_button,
  .video_carousel_colored_button:visited {
    margin: 0 0;
    height: 3rem;
    padding: 0 13px;
    line-height: 3rem;
  }
}
/*---------- MEDIA 1281px to 2000px----------*/
@media (min-width: 1281px) and (max-width: 2000px) {
	.item > img,
	.item > a > img {
 	opacity: 1;
  	margin: auto;
	width:100% !important;
  	min-width: 1667px;
  	min-height:400px;
  	height: auto;
	}
	.marquee-overlay {
    background-image: url(../images/design_import/_assets/overlay_light.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
img.banner-10 {
	position:relative;
	top:0rem;
	right: 10rem;
}
img.banner-20 {
	position:relative;
	top:0rem;
	right: 20rem;
}
img.banner-30 {
	position:relative;
	top:0rem;
	right: 30rem;
}
img.banner-40 {
	position:relative;
	top:0rem;
	right: 40rem;
}
}
/*------------------------------------------------------*/
/* COLORS (ORANGE)
/*------------------------------------------------------*/

/*---------- LEFT/RIGHT CONTROL ----------*/
.video_carousel_control_left,
.video_carousel_control_left:hover,
.video_carousel_control_left:active,
.video_carousel_control_left:focus,
.video_carousel_control_right,
.video_carousel_control_right:hover,
.video_carousel_control_right:active,
.video_carousel_control_right:focus  {
  color: #ffffff;
}
.video_carousel_control_left,
.video_carousel_control_left:hover,
.video_carousel_control_left:active,
.video_carousel_control_left:focus,
.video_carousel_control_right,
.video_carousel_control_right:hover,
.video_carousel_control_right:active,
.video_carousel_control_right:focus {
  background: transparent !important;
}
.video_carousel_control_left,
.video_carousel_control_right {
  border: 2px solid #ffffff;
}
.fa span {color: #f38b00;}
/*---------- CAPTION ----------*/
.video_carousel_caption_text {
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
.video_carousel_caption_text h1 {
  color: #ffffff;
}
.video_carousel_caption_text p {
  color: #ffffff;
}
.video_carousel_colored_button,
.video_carousel_colored_button:visited {
  color: #ffffff;
}
.video_carousel_colored_button:hover,
.video_carousel_colored_button:active,
.video_carousel_colored_button:focus {
  color: #f38b00 !important;
}
.video_carousel_colored_button,
.video_carousel_colored_button:visited {
  background: #f38b00;
}
.video_carousel_colored_button:hover,
.video_carousel_colored_button:active,
.video_carousel_colored_button:focus {
  background: #f38b00 !important;
}
.video_carousel_colored_button:before {
  background: #000;
}

/*---------- MEDIA QUERIES ----------*/
@media only screen and (max-width: 600px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .video_carousel_control_left,
  .video_carousel_control_right,
  .video_carousel_control_left:hover,
  .video_carousel_control_left:active,
  .video_carousel_control_left:focus,
  .video_carousel_control_right:hover,
  .video_carousel_control_right:active,
  .video_carousel_control_right:focus	{
    background: transparent !important;
  }
}
/*----------  END  ----------*/
